.headerWrapper {
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 20px -10px black;
  background-color: #007cc7;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
}
