.menu {
  position: fixed;
  height: 100%;
  width: 224px;
  max-width: 100%;
  background-color: #007cc7;
  box-shadow: 0 0 20px -10px black;
  padding: 10px;
  box-sizing: border-box;
  transform: translateX(-224px);
  transition: transform 0.25s;
  transition-timing-function: cubic-bezier(0, 0.92, 1, 1);

  &_open {
    transform: translateX(0);
  }
}
