.modalContent {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  overflow: auto;
  outline: none;
  padding: 2rem;
  border-radius: 12px;
}
