$main-color: #007cc7;
$primary-hover: #1769aa;
$secondary-color: crimson;
$secondary-hover: #b2102f;
$success-color: #00a152;
$success-hover: #018f49;
$grey-light-color: #ededed;
$grey-dark-color: #919191;
$withe-color: #fff;
