$grey-color: grey;
$black-color: black;
$blue-color: #007cc7;

@mixin upLabel {
  top: -4px;
  font-size: 10px;
  color: $black-color;
}

.conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;

  .icon {
    padding-top: 1px;
  }

  .formInput {
    position: relative;
    margin: 7px 0;

    .formInput__input {
      background: none;
      background-color: white;
      color: $grey-color;
      font-size: 14px;
      padding: 9px 9px 2px 5px;
      display: block;
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $grey-color;
      margin: 3px 0;

      &:focus {
        outline: none;
      }

      &:focus ~ .formInput__label {
        @include upLabel();
      }
    }

    input[type="password"] {
      letter-spacing: 0.3em;
    }

    .formInput__label {
      color: $grey-color;
      font-size: 12px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 14px;
      transition: 300ms ease all;

      &.formInput__label_up {
        @include upLabel();
      }
    }
  }
}

.disabled{
  .icon{
    color: gray;
  }
}