.btnClose {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  width: 1rem;
  border-radius:50%;
  border: none;
  background-color: inherit;
  color: gainsboro;
  &:hover{
    color: black;
    background: #CDD6DB;
    opacity: .3;
    cursor: pointer;
  }
}