$main-color: #007cc7;
$primary-hover: #1769aa;
$secondary-color: crimson;
$secondary-hover: #b2102f;
$success-color: #00a152;
$success-hover: #018f49;
$grey-light-color: #ededed;
$grey-darc-color: #919191;
$withe-color: #fff;
$base-font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

.button {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  letter-spacing: 0.03857em;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  &:hover {
    color: $main-color;
    background: $withe-color;
  }
  &:disabled {
    color: $grey-darc-color;
    background: $withe-color;
    border-color: $grey-light-color;
    cursor: default;
  }
}

/* Form Icon Button */
.circleSmall {
  font-size: 0.8rem;
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
}

.circleMedium {
  font-size: 0.9rem;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
}

.circleLarge {
  font-size: 1.1rem;
  height: 2.9rem;
  width: 2.9rem;
  border-radius: 50%;
}

/*Full Width Button */
.fullwidth {
  width: 100%;
}

/* Size Button */
.small {
  font-size: 0.8rem;
  padding: 0.4em 0.7em;
}

.medium {
  font-size: 0.9rem;
  padding: 0.5em 0.9em;
}

.large {
  font-size: 1.1rem;
  padding: 0.5em 2.5em;
}


/* Theme */
.primary {
  color: $withe-color;
  background: $main-color;
  border: 1px solid $main-color;
  transition: color 0.3s ease, background 0.3s ease;

  &:hover {
    color: $withe-color;
    background: $primary-hover;
  }

  &:disabled {
    color: $grey-darc-color;
    background: $withe-color;
    border-color: $grey-light-color;
    cursor: default;
  }
}

.secondary {
  color: $withe-color;
  background: $secondary-color;
  border: 1px solid $secondary-color;
  transition: color 0.3s ease, background 0.3s ease;

  &:hover {
    color: $withe-color;
    background: $secondary-hover;
    border: 1px solid $secondary-hover;
  }

  &:disabled {
    color: $grey-darc-color;
    background: $withe-color;
    border-color: $grey-light-color;
    cursor: default;
  }
}

.success {
  color: $withe-color;
  background: $success-color;
  border: 1px solid $success-color;
  transition: color 0.3s ease, background 0.3s ease;

  &:hover {
    color: $withe-color;
    background: $success-hover;
  }

  &:disabled {
    color: $grey-darc-color;
    background: $withe-color;
    border-color: $grey-light-color;
    cursor: default;
  }
}