$main-color: #007cc7;
$primary-hover: #1769aa;
$secondary-color: #ff1744;
$secondary-hover: #b2102f;
$success-color: #00a152;
$success-hover: #018f49;
$grey-light-color: #ededed;
$grey-darc-color: #919191;
$withe-color: #fff;
$base-font-family: sans-serif;

.button {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: $base-font-family;
  font-size: 0.8em;
  font-weight: 550;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  position: relative;

  &:hover {
    color: $main-color;
    background: $withe-color;
  }
     &:disabled {
    color: $grey-darc-color;
    background: $withe-color;
    border-color: $grey-light-color;
    cursor: default;
  }
}

/* Form Icon Button */
.circle {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  display: inline-block;
}

/* Width Button */
.width{
 width:100%
}

/* Size Button */
.small {
  padding: 0.4em 0.5em;
}

.medium {
  padding: 0.6em 0.9em;
}

.large {
  padding: 1.4em 1.6em;
}

/* Theme */
.default {
  color: $withe-color;
  background: $main-color;
  border: 1px solid $main-color;
}

.rounded {
  color: $main-color;
  background: $withe-color;
  border: 1px solid $main-color;
  transition: color 0.3s ease, background 0.3s ease;

  &:hover {
    color: $withe-color;
    background: $main-color;
  }

  &:disabled {
    color: $grey-darc-color;
    background: $withe-color;
    border-color: $grey-light-color;
    cursor: default;
  }
}

.primary{
  color: $withe-color;
  background: $main-color;
  border: 1px solid $main-color;
  transition: color 0.3s ease, background 0.3s ease;

  &:hover {
    color: $withe-color;
    background: $primary-hover;
  }

  &:disabled {
    color: $grey-darc-color;
    background: $withe-color;
    border-color: $grey-light-color;
    cursor: default;
  }
}

.secondary{
  color: $withe-color;
  background: $secondary-color;
  border: 1px solid $secondary-color;
  transition: color 0.3s ease, background 0.3s ease;

  &:hover {
    color: $withe-color;
    background: $secondary-hover;
  }

  &:disabled {
    color: $grey-darc-color;
    background: $withe-color;
    border-color: $grey-light-color;
    cursor: default;
  }
}

.success{
  color: $withe-color;
  background: $success-color;
  border: 1px solid $success-color;
  transition: color 0.3s ease, background 0.3s ease;

  &:hover {
    color: $withe-color;
    background: $success-hover;
  }

  &:disabled {
    color: $grey-darc-color;
    background: $withe-color;
    border-color: $grey-light-color;
    cursor: default;
  }
}