.dropdown {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
  position: relative;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
  border: none;
  border-radius: 0.25em 0.25em 0 0;
  font-size: inherit;

  &:focus-visible {
    outline: none;
  }

  &_withLabel {
    margin-top: 0.6em;
  }

  &:hover &__underline {
    opacity: 1;
  }

  &__title {
    min-height: 1em;
    padding: 0.75em;
    padding-right: 2em;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.125;
    font-size: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &_selected {
      color: #000;
    }
  }

  &__underlineWrapper {
    position: absolute;
    width: 100%;
    pointer-events: none;

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.42);
    }
  }

  &__underline {
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    bottom: 0;
    height: 2px;
    position: absolute;
    left: 0;
    width: 100%;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.87);
  }
}

.arrowIcon {
  top: calc(50% - 12px);
  color: rgba(0, 0, 0, 0.54);
  right: 0;
  position: absolute;
  pointer-events: none;
  fill: currentColor;
  width: 1.5em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  user-select: none;

  &_open {
    transform: rotate(0.5turn);
  }
}

// disabled styles
.dropdown_disabled {
  cursor: not-allowed;

  & .dropdown__underline {
    opacity: 0 !important;
  }

  & .dropdown__title {
    color: rgba(0, 0, 0, 0.38);
  }

  & .arrowIcon {
    color: rgba(0, 0, 0, 0.38);
  }

  & .underlineWrapper {
    background-color: rgba(0, 0, 0, 0.15);
  }
}
