.notification {
  background: #fff;
  transition: 0.3s ease;
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 1px 1px 1px 2px;
  padding: 8px;
  margin-bottom: 5px;
  width: 15%;
  min-height: 40px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 2px #999;
  color: white;
  opacity: 0.9;
  background-position: 15px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;

  &:hover {
    box-shadow: 0 0 6px #fff;
    opacity: 1;
    transform: scale(1.006);
  }

  .notification__title {
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 6px;
    width: 150px;
    height: 18px;
  }

  .notification__message {
    margin: 0;
    text-align: left;
    height: 17px;
    font-size: 12px;
    margin-left: -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.error {
  background-color: #d9534f;
}

.warning {
  background-color: #f0ad4e;
}

.success {
  background-color: #5cb85c;
}

.info {
  background-color: #5bc0de;
}
